:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--text);
  font-weight: 400;
  @include font(14, 21);
}

#root {
  background-color: var(--background);
  min-height: 100vh;
}

.light {
  --background: #f8fafc;
  --primary: #d9eafd;
  --primary-rgb: 217, 234, 253;
  --secondary: #bcccdc;
  --secondary-rgb: 188, 204, 220;
  --accent: #9aa6b2;
  --text: #1a1a1a;
}

.dark {
  --background: #352f44;
  --primary: #5c5470;
  --primary-rgb: 92, 84, 112;
  --secondary: #b9b4c7;
  --secondary-rgb: 185, 180, 199;
  --accent: #faf0e6;
  --text: #f5ebdd;
}
